<main class="container-xxl">
  <header class="TicketDetail-header">
    <button class="btn-atras" (click)="volver()">
      <mat-icon>keyboard_backspace</mat-icon>Atrás
    </button>
    <p class="title-page">{{ isAdmin ? 'Tickets – Detalle' : 'Mis Tickets - Detalle' }}</p>
  </header>

  @if (!dato()) {
  <p>No hay datos disponibles</p>
  } @else {
  <div class="ticket-detalle">

    <!-- Información general -->
    <div class="bg-gradient-primary title ">
      <div class="title-content">
        <mat-icon class="icon ">local_activity</mat-icon>
        <h2>{{ dato()?.titulo }}</h2>
        <div class="title-info">
          <span class="bg-gradient-secondary">{{ (dato()?.estado ?? '') | transformText }}</span>
          <span [class]="'bg-gradient-' + (
              dato()?.etiqueta?.categoria?.prioridad === 'baja' ? 'success' :
              dato()?.etiqueta?.categoria?.prioridad === 'media' ? 'warning' : 'error'
            )">
            {{ (dato()?.etiqueta?.categoria?.prioridad ?? '') | transformText }}
          </span>
        </div>
      </div>
      <p>{{ (dato()?.descripcion ?? '') | transformText }}</p>
    </div>

    <div class="info-general">
      <!-- Categoría y etiqueta -->
      <section class="categoria">
        <header class="bg-gradient-primary">
          <mat-icon>{{isAdmin ? 'info' : 'category' }}</mat-icon>
          <h3>{{isAdmin ? 'Informacion' : 'Categoría' }}</h3>
        </header>

        <div class="info-group">
          @if (isAdmin) {
          <div style="padding-bottom: 10px; border-bottom: 1.5px solid rgb(199, 199, 199); gap: 15px;" class="group">
            <div class="content-group">
              <i class="fi fi-rr-circle-user"></i>
              <div class="content-text">
                <span>Solicitante</span>
                <p>{{ dato()?.usuario?.nombre }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-envelope"></i>
              <div class="content-text">
                <span>Correo</span>
                <p>{{ dato()?.usuario?.correo}}</p>
              </div>
            </div>
          </div>
          }
          <div class="group">
            <div class="content-group">
              <i class="fi fi-rr-resources"></i>
              <div class="content-text">
                <span>Categoría</span>
                <p>{{ dato()?.etiqueta?.categoria?.nombre }}</p>
              </div>

            </div>
            <div class="content-group">
              <i class="fi fi-rr-exclamation"></i>
              <div class="content-text">
                <span>Problema</span>
                <p>{{ dato()?.etiqueta?.nombre }}</p>
              </div>

            </div>
          </div>

          <div class="content-group">
            <div class="content-text">
              <span>Descripción de la categoría</span>
              <p>{{ dato()?.etiqueta?.categoria?.descripcion }}</p>
            </div>

          </div>

        </div>
      </section>

      <!--  SLA -->
      <section class="info">
        <header class="bg-gradient-primary">
          <mat-icon>{{isAdmin ? 'calendar_today' : 'info' }}</mat-icon>
          <h3>{{ isAdmin ? 'Fechas y SLA' : 'Información' }}</h3>
        </header>

        <div class="info-group">
          <div class="group">
            <div class="content-group">
              <i class="fi fi-rr-calendar-plus"></i>
              <div class="content-text">
                <span>Fecha de creación</span>
                <p>{{ dato()?.fechaCreacion | date:'short' }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-calendar-check"></i>
              <div class="content-text">
                <span>Fecha de cierre</span>
                <p>{{ dato()?.fechaCierre | date:'short' }}</p>
              </div>
            </div>
          </div>
          @if (isAdmin) {
          <div class="group">
            <div class="content-group">
              <i class="fi fi-rr-time-watch-calendar"></i>
              <div class="content-text">
                <span>Respuesta esperada</span>
                <p>{{ dato()?.slaRespusta | date:'short' }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-time-watch-calendar"></i>
              <div class="content-text">
                <span>Respuesta Obtenida</span>
                <p>{{ fechaAsignacion | date:'short' }}</p>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="content-group">
              <i class="fi fi-rr-time-watch-calendar"></i>
              <div class="content-text">
                <span>Solución esperada</span>
                <p>{{ dato()?.slaSolucion | date:'short' }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-time-watch-calendar"></i>
              <div class="content-text">
                <span>Solución Obtenida</span>
                <p>{{ fechaResuelto | date:'short' }}</p>
              </div>
            </div>
          </div>
          <p [class]="cumplioSla('style')"
            style="margin: auto; text-align: center; font-size: .9em; width: fit-content; color: white; padding: 5px 15px; border-radius: 20px;">
            {{
            cumplioSla('text')
            }}</p>
          } @else {
          <div class="group">
            <div class="content-group">
              <i class="fi fi-rr-time-watch-calendar"></i>
              <div class="content-text">
                <span>Respuesta esperada</span>
                <p>{{ dato()?.slaRespusta | date:'short' }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-time-watch-calendar"></i>
              <div class="content-text">
                <span>Solución esperada</span>
                <p>{{ dato()?.slaSolucion | date:'short' }}</p>
              </div>
            </div>
          </div>
          }
        </div>
      </section>
    </div>

    <!-- Técnico asignado -->
    <section class="asignacion">
      <header class="bg-gradient-primary">
        <mat-icon>work</mat-icon>
        <h3>{{!isAdmin ? 'Técnico/a' : 'Asignaciones'}}</h3>
      </header>
      @if (isAdmin) {
      @for (asignacion of asignacionesOrdenadas; track $index) {
      <div class="info-group item">
        <div class="group-3">
          <img mat-card-image [src]="'http://localhost:3000/images/'+asignacion.tecnico.usuario.imagen"
            [alt]="asignacion.tecnico.usuario.nombre" />
          <span class="bg-gradient-primary">{{ asignacion.tecnico.motivoDisponible | transformText }}</span>
        </div>

        <div class="group">
          <div class="group-2">
            <div class="content-group">
              <i class="fi fi-rr-circle-user"></i>
              <div class="content-text">
                <span>Nombre</span>
                <p>{{ asignacion.tecnico.usuario.nombre }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-envelope"></i>
              <div class="content-text">
                <span>Correo</span>
                <p>{{ asignacion.tecnico.usuario.correo }}</p>
              </div>
            </div>
          </div>

          <div class="group-2">
            <div class="content-group">
              <i [class]="asignacion.metodo === 'manual' ? 'fi fi-rr-hand-paper' : 'fi fi-rr-user-robot'"></i>
              <div class="content-text">
                <span>Método de asignación</span>
                <p>{{ asignacion.metodo ?? ''| transformText }}</p>
              </div>
            </div>
            <div class="content-group">
              <i class="fi fi-rr-comment-text"></i>
              <div class="content-text">
                <span>Motivo</span>
                <p>{{ asignacion.motivo }}</p>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="!asignacion.activo" class="active bg-gradient-success">
          <p>Activo</p>
        </div>
      </div>
      }
      } @else if (tecnicoAsignado) {
      <div class="info-group item">
        <div class="group-3">
          <img mat-card-image [src]="'http://localhost:3000/images/'+tecnicoAsignado.tecnico.usuario.imagen"
            [alt]="tecnicoAsignado.tecnico.usuario.nombre" />
          <span class="bg-gradient-primary">{{ tecnicoAsignado.tecnico.motivoDisponible | transformText }}</span>
        </div>

        <div class="group">
          <div class="group-2">
            <div class="content-group">
              <span>Nombre</span>
              <p><i class="fi fi-rr-circle-user"></i>{{ tecnicoAsignado.tecnico.usuario.nombre }}</p>
            </div>
            <div class="content-group">
              <span>Correo</span>
              <p><i class="fi fi-rr-envelope"></i>{{ tecnicoAsignado.tecnico.usuario.correo }}</p>
            </div>
          </div>

          <div class="group-2">
            <div class="content-group">
              <span>Método de asignación</span>
              <p>
                <i [class]="tecnicoAsignado.metodo === 'manual' ? 'fi fi-rr-hand-paper' : 'fi fi-rr-user-robot'"></i>
                {{ tecnicoAsignado.metodo ?? ''| transformText }}
              </p>
            </div>
            <div class="content-group">
              <span>Motivo</span>
              <p><i class="fi fi-rr-comment-text"></i>{{ tecnicoAsignado.motivo }}</p>
            </div>
          </div>
        </div>
        <div [hidden]="!tecnicoAsignado.activo" class="active bg-gradient-success">
          <p>Activo</p>
        </div>
      </div>
      } @else {
      <div class="info-group">
        <p style="text-align: center;">Aún no se ha asignado un técnico a su ticket</p>
      </div>
      }
    </section>

    <!-- Valoración -->
    @if (dato()?.Valoracion?.length) {
    <section class="valoracion">
      <header class="bg-gradient-primary">
        <mat-icon>star</mat-icon>
        <h3>Valoración</h3>
      </header>

      <div class="valoracion-card" *ngFor="let val of dato()?.Valoracion">
        <div class="encabezado">
          <div class="estrellas">
            <ng-container *ngFor="let star of [1,2,3,4,5]">
              <mat-icon [ngClass]="{ 'filled': star <= val.puntaje }">star_rate</mat-icon>
            </ng-container>
          </div>
          <span class="fecha">{{ val.fecha | date:'d \'de\' MMMM \'del\' y \'a las\' h:mm a' }}</span>
        </div>

        <p class="comentario">“{{ val.comentario }}”</p>
      </div>
    </section>
    }

    <!-- Imagenes -->
    <section class="imagenes">
      <header class="bg-gradient-primary">
        <mat-icon>image</mat-icon>
        <h3>Imagenes</h3>
      </header>

      @for (h of dato()?.historial; track $index) {
      @if ((h.imagenes?.length ?? 0) > 0) {
      <div class="imagen-card">
        <span>{{ h.fecha | date:'d \'de\' MMMM \'del\' y \'a las\' h:mm a' }}</span>
        <div class="lista-imagenes">
          @for (imagen of h.imagenes; track $index) {
          <img [src]="'http://localhost:3000/images/'+ imagen.url" [alt]="imagen.url">
          }
        </div>
      </div>
      }
      }
    </section>


    <!-- Historial -->
    <section class="historial">
      <header class="bg-gradient-primary">
        <mat-icon>history</mat-icon>
        <h3>Historial</h3>
      </header>

      <div class="info-group">
        @for (h of dato()?.historial; track $index) {
        <div class="campo">
          <span>{{ h.fecha | date:'d \'de\' MMMM \'del\' y \'a las\' h:mm a' }}</span>
          @if (h.estadoAnterior === h.estadoNuevo) {
          <p><strong>{{ (h.usuario?.nombre ) }}</strong>{{'  '}}<em class="nuevo">creó el ticket</em></p>
          } @else {
          <p>
            <strong>{{ (h.usuario?.nombre ) }}</strong> cambió de
            <em class="anterior">{{ h.estadoAnterior | transformText }}</em> a <em class="nuevo">{{ h.estadoNuevo |
              transformText }}</em>
          </p>
          <div class="content-group">
            <div class="content-text">
              <span>Observación</span>
              <p>{{ h.observacion }}</p>
            </div>
          </div>
          }
        </div>
        }
      </div>
    </section>

  </div>
  }
</main>