main {
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, rgba(40, 134, 222, 1), rgba(15, 108, 189, 1), rgba(15, 84, 140, 1),
            rgba(12, 59, 94, 1), rgba(20, 101, 172, 1), rgba(13, 72, 123, 1), rgba(8, 40, 80, 1), rgba(15, 108, 189, 1));
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease-in-out infinite;
    min-height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: all .9s ease-in-out;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 10px;
}

.newPass {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 0.85rem;
    width: 100%;
    text-align: right;
    cursor: pointer;

    &:hover {
        color: #0a79d1;
        text-decoration: underline;

    }
}

.newAccount {
    text-decoration: underline;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 15px;
    font-size: 0.85rem;

    & a {
        cursor: pointer;
        color: #0a79d1;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    width: 100%;
    margin-top: 15px;
    font-size: 0.75rem;
    text-align: center;
    color: gray;
    border-top: 1px solid lightgray;
}

.acciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    flex: 1 1 auto;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form button {
    margin-top: 20px;
}

#main.cargando {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    animation: pop 1s infinite ease-in-out;
    padding: 0px;
}

.cargando h3 {
    margin: auto;
}

.cargando div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.cargando p {
    margin: 10px 8px 0 8px;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    animation: wave 1s ease-in-out infinite;
}

.cargando p:nth-child(1) {
    animation-delay: 0s;
}

.cargando p:nth-child(2) {
    animation-delay: 0.2s;
}

.cargando p:nth-child(3) {
    animation-delay: 0.4s;
}

.hidden {
    display: none;
}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-8px);
    }
}

@keyframes pop {
    50% {
        transform: scale(1.03);
    }

}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    #main {
        width: 100%;
        height: 100vh;
    }

    img {
        position: absolute;
        top: 10%;
    }

    .newPass {
        margin-bottom: 30px;
    }
}