<main class="">
    <div #main id="main" [class]="cargando ? 'cargando' : ''">
        <section #sc1 id="sc1" [class]="'cargando ' + (!cargando ? 'hidden' : 'visible')">
            <h3>Cargando</h3>
            <div>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </section>

        <section #sc2 id="sc2" [class]="'form ' + (cargando ? 'hidden' : 'visible')">
            <img src="/images/BESA Banner.png" alt="BESA's Software">
            <div class="acciones">
                <div [class]="'input-group-' + (error.correo ? 'error' : 'primary')">
                    <label for="correo">Correo Electrónico</label>
                    <div>
                        <mat-icon>person</mat-icon><input type="text" name="correo" [(ngModel)]="correo"
                            placeholder="Ingrese su correo" class="" (focus)="error.correo = false">
                    </div>
                </div>

                <div [class]="'input-group-' + (error.contra ? 'error' : 'primary')">
                    <label for="contraseña">Contraseña</label>
                    <div>
                        <mat-icon>lock</mat-icon><input type="password" name="contraseña" [(ngModel)]="contrasenna"
                            placeholder="Ingrese su contraseña" class="" (focus)="error.contra = false">
                    </div>

                </div>
                <a routerLink="/auth/recuperar" class="newPass">¿Olvidaste tu contraseña?</a>

                <button (click)="Submit()" class="btn-primary">Iniciar sesión</button>
            </div>
            <footer>
                <p>© {{ today | date : "yyyy" }} BESA's Software. Todos los derechos reservados. </p>
                <p>Desarrollado por el equipo de BESA's Software.</p>
            </footer>
        </section>
    </div>
</main>