.body-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#contentArea {
  position: relative;
  width: 100%;
  height: calc(100vh - 52px);
  overflow: hidden;
}

#contentArea::before {
  content: '';
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  width: 400px;
  height: 300px;
  background-image: url('../../../../../public/images/BESA-Software.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  /* Ajusta la transparencia aquí */
  z-index: 0;
}

#contentBackground {
  position: relative;
  width: 100%;
  height: calc(100vh - 52px);
  overflow-y: auto;
}

#contentBackground::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

#contentBackground::-webkit-scrollbar-track {
  background-color: transparent;
}

#contentBackground::-webkit-scrollbar-thumb {
  background-color: #2886DE;
  /* Color del thumb */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

#contentBackground::-webkit-scrollbar-thumb:hover {
  background-color: #3c94ed;
  /* Color al hacer hover */
}

#contentRoot {
  height: calc(100vh - 52px);
}

@media (max-width: 768px) {
  .body-container {
    flex-direction: column;
  }

  #contentBackground {
    height: calc(100vh - 52px - 35px);
  }

  #contentRoot {
    height: calc(100vh - 52px - 35px);
  }
}