<main class="container-xxl">
    <header class="home-header">
        <div class="header-info">
            <h1 class="title-primary">Hola, Jeshua Herrera Salas</h1>
            <p class="header-text">
                Bienvenido al Soporte Técnico de <span class="title-primary">BESA's Software</span>. Gestiona y
                da seguimiento a tus tickets de incidencias relacionadas con tus herramientas de trabajo o área
                operativa.
            </p>
        </div>
        <div class="header-ticket">
            <div class="header-ticket-info ">
                <span>Tickets Activos
                </span>
                <p class="bg-gradient-primary ticket-num">4</p>
            </div>
        </div>
    </header>
</main>