.home-header {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;

  .header-info {
    flex: 1 1 400px;
  }

  h1 {
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
  }


  .header-ticket {
    margin: auto;
  }

  .header-text {
    font-size: 0.95rem;
    color: #333;
    margin-top: 5px;
    text-align: justify;
  }

  .header-ticket-info {
    text-align: center;
    margin: auto;
    width: 100px;
    max-width: 100px;

    span {
      font-weight: bold;
      font-size: .8rem;
    }

    .ticket-num {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 10px;
      border-radius: 50%;
      margin: 5px auto 0;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
  }
}

.tabla-datos {

  td {
    &.codigo {
      text-align: center;
    }

    &.content {
      padding-left: 10px;

      p {
        padding: 0;
        margin: 5px 0 0;
        font-size: 1rem;
      }

      span {
        font-size: .82rem;
        color: rgb(117, 117, 117);
        letter-spacing: .5px;
      }
    }

    &.prioridad {
      text-align: center;
      padding: 0;

      p {
        padding: 5px 15px;
        border-radius: 15px;
        color: white;
        margin: 0;
        width: fit-content;
        margin: auto;
      }
    }

    &.estado {
      text-align: center;

      p {
        padding: 5px 15px;
        border-radius: 15px;
        color: white;
        background-color: rgb(90, 90, 90);
        margin: 0;
        width: fit-content;
        margin: auto;
      }
    }
  }
}

