<main class="container-xxl">
    <header class="Categorias-header">
        <!-- <button class="btn-atras"><mat-icon>keyboard_backspace</mat-icon>Atrás</button> -->
        <p class="title-page">Lista Categorías</p>
    </header>

    <section class="filtros">
        <input type="text" [(ngModel)]="filtros.texto" placeholder="Buscar por código o nombre" />

        <!-- <select [(ngModel)]="filtros.estado">
            <option value="">Todos los estados</option>
            <option value="pendiente">Pendiente</option>
            <option value="asignado">Asignado</option>
            <option value="en_proceso">En proceso</option>
            <option value="resuelto">Resuelto</option>
            <option value="cerrado">Cerrado</option>
        </select> -->

        <select [(ngModel)]="filtros.prioridad">
            <option value="">Todas las prioridades</option>
            <option value="baja">Baja</option>
            <option value="media">Media</option>
            <option value="alta">Alta</option>
        </select>

        <div class="orden">
            <select [(ngModel)]="filtros.ordenCampo">
                <option value="">Ordenar por…</option>
                <option *ngFor="let campo of camposOrdenables" [value]="campo.value">{{ campo.label }}</option>
            </select>

            <select [(ngModel)]="filtros.ordenDireccion">
                <option *ngFor="let dir of direccionesOrden" [value]="dir.value">{{ dir.label }}</option>
            </select>
        </div>

        <button class="btn-primary filled" (click)="lista()">Aplicar filtros</button>
        <button class="btn-primary" (click)="quitarFiltros()">Quitar filtros</button>
    </section>


    <div class="lista-datos">
        <div class="header-datos">
            <div class="header-datos-info">
                <!-- <h2 class="title-primary">Tickets Recientes</h2> -->
                <div [class]="(verTipos ? '' : 'hidden ') + 'tipo-group-datos'">
                </div>
            </div>
            <button class="btn-primary gradient"><mat-icon>add_circle</mat-icon>Crear Categoría</button>
        </div>

        <table class="tabla-datos">
            <thead class="bg-gradient-primary">
                <tr>
                    <th style="width: 80px;">Codigo</th>
                    <th>Nombre</th>
                    <th style="width: 120px;">Prioridad</th>
                    <th style="width: 120px;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (datos().length > 0) {
                @for (fila of datos(); track $index) {
                <tr>
                    <td class="codigo">{{ (fila.id.toString().padStart(3, '0')) }}</td>
                    <td class="content">{{ fila.nombre }}</td>
                    <td class="prioridad">
                        <p
                            [class]="'bg-gradient-' + (fila?.prioridad === 'baja' ? 'success' : fila?.prioridad === 'media' ? 'warning' : 'error')">
                            {{ fila.prioridad | transformText }}
                        </p>
                    </td>
                    <td class="acciones">
                        <div>
                            <button class="btn-primary filled" matTooltip="Detalles" matTooltipPosition="right"
                                aria-label="" (click)="irDetalles(fila.id)">
                                <mat-icon>info</mat-icon>
                            </button>
                            <button class="btn-warning filled" matTooltip="Editar" matTooltipPosition="right"
                                aria-label="" (click)="irDetalles(fila.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                }
                }
                @else {
                <tr>
                    <td colspan="5" style="text-align: center; padding: 20px;">
                        No se encontraron tickets.
                    </td>
                </tr>
                }
            </tbody>
        </table>


        <footer style="display: flex; align-items: center; justify-content: center; padding: 20px 0 0; gap: 20px;">
            <app-paginador [paginaActual]="paginaActual" [totalItems]="totalItems" [itemsPorPagina]="itemsPorPagina"
                (paginaCambiada)="cambiarPagina($event)" (itemsPorPaginaCambiado)="cambiarItemsPorPagina($event)">
            </app-paginador>

        </footer>

    </div>


</main>